
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Striker HTML5 Template">

    <title>Toy Store Html Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"
          href="~/assets/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/ionrangeslider.css">
    <link rel="stylesheet" href="~/assets/css/vendor/aksVideoPlayer.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
</head>


<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png" 
                 class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png"
                 class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Blog Detail</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- Blog Detail Start -->
    <section class="blog-detail p-96">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 mb-xl-0 mb-32">
                    <div class="mb-32">
                        <form action="blog-detail.html"
                              class="input-group search-bar">
                            <input type="text" placeholder="Search..."
                                   required />
                            <button class="search" type="submit">
                                <i class="far fa-search search-icon"></i>
                            </button>
                        </form>
                    </div>
                    <div class="categories-block mb-32">
                        <h2 class="h-27 bold light-black mb-16">
                            Categories
                        </h2>
                        <ul class="categorie unstyled">
                            <li><a href="">Lego Bricks</a></li>
                            <li><a href="">Plush Toys</a></li>
                            <li><a href="">Remote Control</a></li>
                            <li><a href="">Toy Sets</a></li>
                        </ul>
                    </div>
                    <div class="tag">
                        <h2 class="h-27 bold light-black mb-16">
                            Tags
                        </h2>
                        <ul class="unstyled">
                            <li><a href="">#toys</a></li>
                            <li><a href="">#kids</a></li>
                            <li><a href="">#children</a></li>
                            <li><a href="">#legos</a></li>
                            <li><a href="">#toyideas</a></li>
                            <li><a href="">#playtime</a></li>
                            <li><a href="">#kidsactivites</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="author-detail mb-32">
                        <div class="author mb-24">
                            <div class="frame sec">
                                <img src="~/assets/media/author/img-7.png" alt="">
                                <div class="text">
                                    <h5>Author:</h5>
                                    <p>Michal Clark</p>
                                </div>
                            </div>
                            <div class="frame w-196">
                                <div class="text">
                                    <h5>Published Date</h5>
                                    <p>8 September 2023</p>
                                </div>
                            </div>
                            <div class="frame">
                                <div class="text">
                                    <h5>Category</h5>
                                    <p>Construction</p>
                                </div>
                            </div>
                        </div>
                        <h2 class="h-47 bold light-black">Toyland Treasures: Discover the Fun!</h2>
                    </div>
                    <div class="detail">
                        <p class="light-black mb-24">Lorem ipsum dolor sit amet consectetur. Neque nisi at viverra fringilla justo. Ultrices etiam et leo ornare sit arcu tortor. Ultrices nisl at scelerisque augue. Libero adipiscing est commodo facilisis volutpat. Quis duis neque sem at. Tellus pharetra varius laoreet libero sit. Aliquam mattis cursus pretium ipsum nullam viverra dictum pellentesque donec. Ultrices aliquet est vitae at donec leo.</p>
                        <img src="~/assets/media/blog/img-7.png" class="w-100 br-30 mb-24" alt="">
                        <p class="light-black mb-24">Felis non venenatis mauris aenean condimentum facilisis. Metus enim malesuada ultrices netus in hendrerit purus. Nulla ullamcorper at imperdiet id sit. Adipiscing mi morbi dignissim ac dolor enim. Ac tellus donec faucibus risus tincidunt mi. Nunc dolor libero vitae tincidunt egestas sit accumsan at. Fermentum mattis venenatis erat viverra sit iaculis magna aliquet. Nisi scelerisque viverra elementum aliquet consectetur ut sit. Sed et velit et sollicitudin eget vivamus odio pellentesque.</p>
                        <div class="inner-text mb-24">
                            <div class="left-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                                    <path d="M33.4007 6.46766V26.7281C33.4007 30.6847 34.1567 33.9591 35.6687 36.5514C38.5552 41.7359 43.6409 44.3281 50.9258 44.3281H52.7814L55.0493 43.9188V36.756H54.637C50.1011 36.756 47.8331 34.4367 47.8331 29.7979V24.2723H50.5134C54.2246 24.2723 56.0802 22.3622 56.0802 18.5421V6.46766C56.0802 2.37464 54.2246 0.328125 50.5134 0.328125H38.9675C35.2563 0.328125 33.4007 2.37464 33.4007 6.46766ZM18.3498 44.3281C19.1745 44.3281 20.2054 44.1917 21.4424 43.9188V36.756H21.0301C16.6316 36.756 14.4324 34.4367 14.4324 29.7979V24.2723H16.9065C20.7552 24.2723 22.6795 22.3622 22.6795 18.5421V6.46766C22.6795 2.37464 20.7552 0.328125 16.9065 0.328125H5.36061C1.78687 0.328125 0 2.37464 0 6.46766V26.7281C0 38.4615 6.11659 44.3281 18.3498 44.3281Z" fill="#FBC270" />
                                </svg>
                            </div>
                            <p class="h-27 light-black bold">Felis non venenatis mauris aenean condimentum facilisis. Met enim malesuada ultrices netus in hendrerit purus. </p>
                            <div class="right-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                                    <path d="M22.6794 6.46766V26.7281C22.6794 30.6847 21.9234 33.9591 20.4114 36.5514C17.5249 41.7359 12.4392 44.3281 5.15429 44.3281H3.29869L1.03074 43.9188V36.756H1.44309C5.979 36.756 8.24694 34.4367 8.24694 29.7979V24.2723H5.56664C1.85545 24.2723 -0.000152588 22.3622 -0.000152588 18.5421V6.46766C-0.000152588 2.37464 1.85545 0.328125 5.56664 0.328125H17.1126C20.8238 0.328125 22.6794 2.37464 22.6794 6.46766ZM37.7303 44.3281C36.9056 44.3281 35.8747 44.1917 34.6376 43.9188V36.756H35.05C39.4484 36.756 41.6477 34.4367 41.6477 29.7979V24.2723H39.1735C35.3249 24.2723 33.4006 22.3622 33.4006 18.5421V6.46766C33.4006 2.37464 35.3249 0.328125 39.1735 0.328125H50.7195C54.2932 0.328125 56.0801 2.37464 56.0801 6.46766V26.7281C56.0801 38.4615 49.9635 44.3281 37.7303 44.3281Z" fill="#FBC270" />
                                </svg>
                            </div>
                        </div>
                        <p class="light-black mb-24">Felis non venenatis mauris aenean condimentum facilisis. Metus enim malesuada ultrices netus in hendrerit purus. Nulla ullamcorper at imperdiet id sit. Adipiscing mi morbi dignissim ac dolor enim. Ac tellus donec faucibus risus tincidunt mi. Nunc dolor libero vitae tincidunt egestas sit accumsan at. Fermentum mattis venenatis erat viverra sit iaculis magna aliquet. Nisi scelerisque viverra elementum aliquet consectetur ut sit. Sed et velit et sollicitudin eget vivamus odio pellentesque.</p>
                        <p class="light-black">Felis non venenatis mauris aenean condimentum facilisis. Metus enim malesuada ultrices netus in hendrerit purus. Nulla ullamcorper at imperdiet id sit. Adipiscing mi morbi dignissim ac dolor enim. Ac tellus donec faucibus risus tincidunt mi. Nunc dolor libero vitae tincidunt egestas sit accumsan at. Fermentum mattis venenatis erat viverra sit iaculis magna aliquet. Nisi scelerisque viverra elementum aliquet consectetur ut sit. Sed et velit et sollicitudin eget vivamus odio pellentesque.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Detail End -->
    <!-- Blogs Area Start -->
    <section class="blog ">
        <div class="container">
            <div class="heading mb-48 text-center">
                <h2>Read Toy Stories</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card mb-24 mb-lg-0">
                        <img src="~/assets/media/blog/img-1.png" class="w-100" alt="">
                        <div class="content">
                            <h4 class="color-black h-27 mb-16">Gifts of Joy: Perfect Presents for Kids</h4>
                            <div class="name-btn">
                                <div class="name">
                                    <img src="~/assets/media/author/img-1.png" alt="">
                                    <p class="medium-black">Author’s name</p>
                                </div>
                                <a href="./blog-detail.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card mb-24 mb-lg-0">
                        <img src="~/assets/media/blog/img-2.png" class="w-100" alt="">
                        <div class="content">
                            <h4 class="color-black h-27 mb-16">Toyland Treasures: Discover the Fun!</h4>
                            <div class="name-btn">
                                <div class="name">
                                    <img src="~/assets/media/author/img-2.png" alt="">
                                    <p class="medium-black">Author’s name</p>
                                </div>
                                <a href="./blog-detail.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="blog-card ">
                        <img src="~/assets/media/blog/img-3.png" class="w-100" alt="">
                        <div class="content">
                            <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                            <div class="name-btn">
                                <div class="name">
                                    <img src="~/assets/media/author/img-3.png" alt="">
                                    <p class="medium-black">Author’s name</p>
                                </div>
                                <a href="./blog-detail.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blogs Area End -->
</div>

<!-- Main Content End -->
