
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png"
                 class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png"
                 class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Blog Listing</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- Blog Start -->
    <section class="blog p-96">
        <div class="container">
            <div class="card mb-0">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs gap-75 mb-32" data-bs-tabs="tabs">
                        <li class="nav-item">
                            <a href="#all" class="active" aria-current="true" data-bs-toggle="tab">All Time</a>
                        </li>
                        <li class="nav-item">
                            <a href="#week" aria-current="false" data-bs-toggle="tab">This Week</a>
                        </li>
                        <li class="nav-item">
                            <a href="#month" aria-current="false" data-bs-toggle="tab">This Month</a>
                        </li>
                        <li class="nav-item">
                            <a href="#half-year" aria-current="false" data-bs-toggle="tab">Last 6 Months </a>
                        </li>
                        <li class="nav-item">
                            <a href="#year" aria-current="false" data-bs-toggle="tab">Last Year</a>
                        </li>
                    </ul>
                </div>
                <form class="card-body tab-content">
                    <div class="tab-pane active" id="all">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-1.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Gifts of Joy: Perfect Presents for Kids</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-1.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-2.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Toyland Treasures: Discover the Fun!</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-2.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-3.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-4.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-5.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-6.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="week">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-6.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-1.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Gifts of Joy: Perfect Presents for Kids</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-1.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-2.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Toyland Treasures: Discover the Fun!</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-2.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-3.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-4.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-5.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="month">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-1.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Gifts of Joy: Perfect Presents for Kids</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-1.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-2.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Toyland Treasures: Discover the Fun!</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-2.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-3.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-4.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-5.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-6.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="half-year">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-3.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-1.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Gifts of Joy: Perfect Presents for Kids</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-1.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-2.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Toyland Treasures: Discover the Fun!</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-2.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-4.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-5.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-6.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="year">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-5.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-1.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Gifts of Joy: Perfect Presents for Kids</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-1.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-2.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Toyland Treasures: Discover the Fun!</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-2.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-3.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-4.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-32">
                                    <img src="~/assets/media/blog/img-6.png" class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">Tiny Tots, Big Fun: Toys for Little Ones</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <img src="~/assets/media/author/img-3.png" alt="">
                                                <p class="medium-black">Author’s name</p>
                                            </div>
                                            <a href="./blog.html" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <ul class="pagination">
                <li>
                    <a href="./blog.html"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li>
                    <a href="./blog.html" class="active">1</a>
                </li>
                <li>
                    <a href="./blog.html">2</a>
                </li>
                <li>
                    <a href="./blog.html">3</a>
                </li>
                <li>
                    <a href="./blog.html"><i class="fas fa-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Blog End -->

</div>
<!-- Main Content End -->
