
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/ALayout.cshtml";
}

<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png"
                 class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png"
                 class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- Blog Detail Start -->
    <section class="contact p-96">
        <div class="container">
            <div class="row mb-48">
                <div class="col-lg-6">
                    <form method="post" action="./contact.html" class="contact-form form-validator">
                        <div class="row">
                            <div class="col-lg-6  mb-24">
                                <input type="text" name="f-name" id="f-name" required placeholder="First Name" class="form-control">
                            </div>
                            <div class="col-lg-6 mb-24">
                                <input type="text" name="l-name" id="l-name" required placeholder="Last Name" class="form-control">
                            </div>
                            <div class="col-lg-6 mb-24">
                                <input type="email" name="email" id="email" required placeholder="Email" class="form-control">
                            </div>
                            <div class="col-lg-6 mb-24">
                                <input type="tel" name="number" id="number" required placeholder="Phone Number" class="form-control">
                            </div>
                            <div class="col-12 mb-24">
                                <textarea id="comments" name="comments" required placeholder="House no and street name" class="form-control"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="cus-btn primary w-100 mb-lg-0 mb-24">Send Message</button>
                        <!-- Alert Message -->
                        <div id="message" class="alert-msg"></div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <img src="~/assets/media/product/p-30.png" class="dark-shadow br-30 w-100" alt="">
                </div>
            </div>
            <div class="social-detail">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-12 mb-xl-0 mb-24">
                        <a href="tel:0123456789" class=" ">
                            <i class="fal fa-phone-alt"></i>
                            <span>+1 233 898 0897</span>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 mb-xl-0 mb-24">
                        <a href="mailto:info@example.com" class=" ">
                            <i class="fal fa-envelope"></i>
                            <span>email@example.com</span>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 offset-xl-0 offset-lg-3">
                        <div class="address">
                            <i class="fal fa-map-marker-alt"></i>
                            <h6 class="light-black">123 Main Street, Anytown, USA.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Detail End -->
</div>

<!-- Main Content End -->
