
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png" class="left-img" alt="">
            <img src="~/assets/media/page-title-banner/img-2.png" class="right-img" alt="">
        </div>
        <div class="content">
            <div class="title">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">
    <!-- About Start -->
    <section class="about p-96 ">
        <div class="container">
            <div class="content br-30 bg-white dark-shadow">
                <div class="row">
                    <div class="col-xl-6  mb-24 mb-xl-0">
                        <img src="~/assets/media/about/img-1png.png" class="w-100 h-100 br-25 shadow" alt="">
                    </div>
                    <div class="col-xl-6">
                        <h2 class="h-47 bold light-black mb-16">
                            Welcome to Toy Store
                        </h2>
                        <p class="light-black mb-24"> Lorem ipsum dolor sit amet consectetur. Sodales diam suspendisse auctor ut at elit pharetra. Consequat sagittis volutpat enim dolor blandit venenatis. Nam adipiscing hac sapien nisi urna eget pretium mattis. Egestas leo rhoncus fusce rhoncus a dis nam mi ac. Sollicitudin euismod in nullam purus. </p>
                        <p class="light-black mb-48">Integer pharetra massa in egestas vitae luctus mi vulputate odio. Sit molestie turpis proin vel sit lectus sed adipiscing bibendum. Id arcu convallis dictumst in. Massa semper nascetur nullam et non purus viverra massa orci. Quis lacus donec.</p>
                        <h4 class="h-47 bold light-black mb-16">
                            Our Philosophy
                        </h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="categorie br-30 mb-24 bg-every">
                                    <img src="~/assets/media/icons/icon-1.png" alt="">
                                    <h5 class="h-27 bold light-black">High Quality</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="categorie br-30 mb-24 bg-sky">
                                    <img src="~/assets/media/icons/icon-2.png" alt="">
                                    <h5 class="h-27 bold light-black">Eco Friendly</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="categorie br-30 mb-24 mb-sm-0 bg-light-dark-blue">
                                    <img src="~/assets/media/icons/icon-3.png" alt="">
                                    <h5 class="h-27 bold light-black">Harmless for Kids</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="categorie br-30 mb-0 bg-brown">
                                    <img src="~/assets/media/icons/icon-4.png" alt="">
                                    <h5 class="h-27 bold light-black">All Brands</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->
    <!-- services Start -->
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-24 mb-lg-0">
                    <img src="~/assets/media/services/free-shipping.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-lg-0">
                    <img src="~/assets/media/services/money-guarantee.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-sm-0">
                    <img src="~/assets/media/services/online-support.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-0">
                    <img src="~/assets/media/services/flexible-payment.png" class="w-100 br-30" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- services Start -->
    <!-- reviews Area Start -->
    <section class="review p-96">
        <div class="container">
            <div class="heading mb-48 text-center">
                <h2>User’s Reviews</h2>
            </div>
            <div class="review-slider">
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Sarah Miller</h5>
                    <p class="light-black mb-16">As a parent, it's such a delight to see my children's faces light up when they receive toys from this store.</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Lola Sayo</h5>
                    <p class="light-black mb-16">As a parent, it's such a delight to see my children's faces light up when they receive toys from this store.</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Maya Mishra</h5>
                    <p class="light-black mb-16">As a parent, it's such a delight to see my children's faces light up when they receive toys from this store.</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Sarah Miller</h5>
                    <p class="light-black mb-16">As a parent, it's such a delight to see my children's faces light up when they receive toys from this store.</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reviews Area End -->
    <!-- Comming Soon Area Start -->
    <section class="comming-soon">
        <div class="container">
            <div class="content">
                <h6 class="h-36 bold color-white">New</h6>
                <h2>Baby Toys</h2>
                <h3 class="h-61 bold color-white mb-32">Will Be In-Stock!</h3>
                <ul class="timer countdown unstyled">
                    <li>20 <small>d</small></li>
                    <li>23 <small>h</small></li>
                    <li>50 <small>m</small></li>
                    <li>34 <small>s</small></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Comming Soon Area End -->

</div>

<!-- Main Content End -->
