@{
    ViewBag.Title = "Edit Article";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@model WebApplication.Models.ArticleDataModel

<h2>AddArticle</h2>

@using (Html.BeginForm("AddArticleAction", "ManageContent", FormMethod.Post))
{
    <div class="form-group">
        <label for="articleTitle">Number</label>
        @*<input type="text" class="form-control" id="articleNumber" name="ArticleNumber" required>*@

        <textarea class="form-control" id="articleNumber" name="ArticleNumber" rows="5" required>@Model.ArticleNumber</textarea>
    </div>

    <div class="form-group">
        <label for="articleTitle">Title</label>
        <input type="text" class="form-control" id="articleTitle" name="ArticleName" required>
    </div>

    <div class="form-group">
        <label for="articleAuthor">Author</label>
        <input type="text" class="form-control" id="articleAuthor" name="AuthorName" required>
    </div>

    <div class="form-group">
        <label for="articleCategory">Category</label>
        <input type="text" class="form-control" id="articleCategory" name="Category" required>
    </div>

    <div class="form-group">
        <label for="articleContent">Content</label>
        <textarea class="form-control" id="articleContent" name="TextOfArticle" rows="5" required>@Model.TextOfArticle</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>

}