
@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Views/Shared/ULayout.cshtml";
}

<!<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
                 
        </div>
        <div class="content">
            <div class="title">
                <h2>UserAccount</h2>
            </div>
        </div>
    </div>
</div>


<!-- Main Content Start -->
@*<div class="page-content">

    <h2>AdminLogin</h2>
</div>*@

<!-- Main Content End -->
