
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/ULayout.cshtml";
}
@using WebApplication.Models
@model WebApplication.Models.OrderModel

@{
    UserDataModel modelUser = (UserDataModel)System.Web.HttpContext.Current.Session["userModel"];
}

<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png"
                 class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png"
                 class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Checkout</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- Blog Detail Start -->
    <section class="checkout p-96">
        <div class="container">
            @{

                if (modelUser.CkeckIfCartContainItems(modelUser.CartId))
                {
                    <div>
                        <a href="@Url.Action("Cart", "HomeUser")" class=" cus-btn primary">Watch Cart</a>
                    </div>

                }
                else
                {
                    <h1>Cart is empty</h1>
                }


            }

            @{
                var cartApi = new WebApplication.BL.Core.APIs.CartApi();

            }

            <h2>Total amount of money: @cartApi.AmountOfCart(modelUser.CartId)</h2>



            @using (Html.BeginForm("AddOrder", "Order", FormMethod.Post))
            {
                <div class="shipping p-96 pt-0">

                    @*<form action="./checkout.html">*@
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" id="name" name="FirstName" placeholder="First Name" class="form-control mb-16" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="last-name" name="LastName" placeholder="Last Name" class="form-control mb-16" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="email" id="email" name="Email" placeholder="Email" class="form-control mb-16" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="tel" id="number" name="PhoneNumber" placeholder="Phone Number" class="form-control mb-16" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="country" name="Country" placeholder="Country" class="form-control mb-16" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="adress" name="ShippingAddress" placeholder="Shipping address" class="form-control mb-16" required>
                        </div>

                    </div>
                    @*</form>*@
                </div>
                <div>
                    <button type="submit" class="cus-btn primary w-100">Finish Checkout</button>
                    @*<a href="@Url.Action("AddOrder", "Order", new { productId = product.ProductId })">Finish Checkout</a>*@
                </div>
            }



        </div>
    </section>
    <!-- Blog Detail End -->
</div>



<!-- Main Content End -->
